body {
  background-image: url("https://wallpapercave.com/wp/wp3170170.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  min-width: 100%;
  background-attachment: fixed;
}

body,
input {
  font-family: "Lato", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --border-color: #761e0680;
  --card-bkg-color: #fed824;
  --card-bkg-color-hover: #fbdb57;
  --btn-bkg-danger: #e63946;
  --btn-bkg-danger-hover: #7f1019;
}
